In [1]:
import yfinance as yf
import pandas as pd
from pandas.tseries.offsets import Week
from datetime import datetime
import html

In [2]:
input_dict = {
    "Ticker": "UAL",
    "Target Price": 40.0,
    "Target Date": "2020-08-25",
    "Maximum Risk": 500.0
}

In [3]:
def get_options(ticker, exp_date, typ):
    std_date = datetime(2020,8,14)
    std_sec = 1597363200
    dt = exp_date - std_date
    target_sec = std_sec + int(dt.total_seconds())
    url = f"finance.yahoo.com/quote/UAL/options?date={target_sec}&p={ticker}"
    ls = pd.read_html("https://" + url)
    if typ == "call":
        return ls[0][["Strike", "Ask"]]
    elif typ == "put":
        return ls[1][["Strike", "Bid"]]
    else:
        raise(ValueError)

In [4]:
def info_process(dic):
    current_price = yf.Ticker(dic["Ticker"]).history("1d")["Close"].iloc[-1]
    if dic["Target Price"] > current_price: 
        contract_type = "call" 
    else:
        contract_type = "put"
    target_date = datetime.strptime(dic["Target Date"], "%Y-%m-%d")
    if target_date.isoweekday() != 5:
        target_date = target_date + Week(weekday=4)
    df_options = get_options(dic["Ticker"], target_date, contract_type)
    return df_options

In [5]:
info_process(input_dict)

    Strike    Ask
0     20.0  13.80
1     25.0   7.20
2     27.0   6.35
3     29.0   4.40
4     30.0   3.40
5     31.0   2.97
6     32.0   2.46
7     33.0   1.95
8     34.0   1.63
9     35.0   1.36
10    36.0   1.18
11    37.0   1.05
12    38.0   1.18
13    39.0   1.16
14    40.0   0.98
15    41.0   1.53
16    42.0   2.50
17    45.0   0.34
18    50.0   0.22